body {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
    background: rgb(218, 230, 62);
    padding: 20px;
}

h1 {
    color: #2c7a7b;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.trash-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#paper {
    height: 100px;
    width: 100px;
}

.trash {
    width: 50px;

    cursor: grab;
    margin: 0 10px;
    transition: 0.3s;
}

.bins {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.bin {
    border: 3px solid #4caf50;
    padding: 10px;
    border-radius: 10px;
    background: #e8ffe8;
    transition: 0.3s;
}

.bin img {
    width: 150px;
}

.bin:hover {
    transform: scale(1.1);
    background: #c8f7c5;
}

.trash:hover {
    transform: scale(1.1);

}

#message {
    color: #2e8b57;
    font-size: 1.5em;
    margin-top: 30px;
}